.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title New event
      .panel-body
        = simple_form_for [:admin, @event] do |f|
          = f.input :name
          = f.input :description
          .row
            .col-md-6
              = f.input :start_at
          .row
            .col-md-6
              = f.input :distance
            .col-md-6
              = f.input :slots
          .row
            .col-md-6
              = f.input :country_id, priority: ["Poland"]
            .col-md-6
              = f.input :city
          = f.button :submit, class: "btn-primary"

