.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Events
      .panel-body
        %table.table
          %thead
            %tr
              %th Name
              %th Distance
              %th Location
              %th Start at
              %th.buttons
          %tbody
            - @events.each do |event|
              %tr
                %td=event.name
                %td=event.location
                %td=event.formatted_distance
                %td=event.formatted_start_at
                %td
                  = link_to "Edit", edit_admin_event_path(event)
                  = link_to "Destroy", admin_event_path(event),
                    method: :delete, data: { confirm: "Are you sure?" }
