.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title=@user.user.email
      .panel-body
        %h5 User events
        - @user.recent_events.each do |event|
          = event.name
          %br/

        %hr/

        %h5 User recent comments
        - @user.recent_comments.each do |comment|
          = comment.content
          %br/
