.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title=@event.name
      .panel-body
        %p
          %i.glyphicon.glyphicon-calendar="\t#{@event.formatted_start_at}"
          %br
          %i.glyphicon.glyphicon-home="\t#{@event.location}"
          %br
          %i.glyphicon.glyphicon-user="\t#{@event.slots}"
          %br
          %i.glyphicon.glyphicon-cog="\t#{@event.formatted_distance}"
        %p=@event.description

        - if current_user.present?
          =link_to "Join", event_participations_path(@event), method: :post

        %hr/
        %h5 Users:
        - i = ArrayIterator.new(@event.users.decorate)
        - while i.has_next?
          = i.next_item.full_name

    - if @event.comments.exists?
      .panel.panel-default
        .panel-heading
          %h3.panel-title Comments
        .panel-body
          - @event.comments.decorate.each do |comment|
            %small="#{comment.user.email} | #{comment.formatted_created_at}"
            %br/
            =comment.content
            %hr/

    - if current_user
      .panel.panel-default
        .panel-heading
          %h3.panel-title Add comment
        .panel-body
          = simple_form_for [@event, @comment] do |f|
            = f.input :content
            = f.button :submit
