%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Run Events
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if !current_user.present?
          %li
            =link_to "Sign up", new_user_registration_path
          %li
            =link_to "Sign in", new_user_session_path
        - else
          %li
            =link_to current_user.email, edit_user_registration_path(current_user)
          %li
            =link_to "Sign out", destroy_user_session_path,
              method: :delete
