.row
  .col-md-6.col-md-offset-3
    %h2 Sign up
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :first_name
        = f.input :last_name
        = f.input :birthdate, as: :date, start_year: 1900,
          end_year: Date.today.year
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true
      .form-actions
        = f.button :submit, "Sign up"
    = render "users/shared/links"
